@page "/editprovider/{Id:int?}"
@using TunNetCom.SilkRoadErp.Sales.Contracts.Providers
@using Microsoft.Extensions.Localization
@using TunNetCom.SilkRoadErp.Sales.HttpClients.Services.Providers
@using TunNetCom.SilkRoadErp.Sales.WebApp.Helpers
@using TunNetCom.SilkRoadErp.Sales.WebApp.Locales
@using System.Globalization
@using TunNetCom.SilkRoadErp.Sales.HttpClients.Services
@inject IProvidersApiClient providerService
@inject NavigationManager navigationManager
@inject IStringLocalizer<SharedResource> localizer

<RadzenCard Style="padding: 20px; max-width: 900px; margin: auto;">
    <RadzenTemplateForm Data="@provider" Submit="@OnSubmit">

        <h3>@(provider.Id == 0 ? localizer["add_provider"] : localizer["edit_provider"])</h3>

        <RadzenRow Class="mb-3 g-1">
            <RadzenColumn Size="12" SizeSM="6">
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" Gap="5px" Style="margin-bottom: 5px;">
                    <RadzenIcon Icon="person" />
                    <RadzenLabel Text="@localizer["provider_name"]" />
                </RadzenStack>
                <RadzenTextBox @bind-Value="provider.Nom" Name="Nom"
                               Placeholder="@localizer["provider_name"]"
                               Style="width: 100%;" />
            </RadzenColumn>

            <RadzenColumn Size="12" SizeSM="6">
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" Gap="5px" Style="margin-bottom: 5px;">
                    <RadzenIcon Icon="call" />
                    <RadzenLabel Text="@localizer["provider_phone"]" />
                </RadzenStack>
                <RadzenTextBox @bind-Value="provider.Tel" Name="Tel"
                               Placeholder="@localizer["provider_phone"]"
                               Style="width: 100%;" />
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow Class="mb-3 g-1">
            <RadzenColumn size="6">
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" Gap="5px" Style="margin-bottom: 5px;">
                    <RadzenIcon Icon="call" />
                    <RadzenLabel Text="@localizer["provider_fax"]" />
                </RadzenStack>
                <RadzenTextBox @bind-Value="provider.Fax" Name="Mail"
                               Placeholder="@localizer["provider_fax"]"
                               Style="width: 100%;" />
            </RadzenColumn>

            <RadzenColumn size="6">
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" Gap="5px" Style="margin-bottom: 5px;">
                    <RadzenIcon Icon="badge" />
                    <RadzenLabel Text="@localizer["provider_matricule"]" />
                </RadzenStack>
                <RadzenTextBox @bind-Value="provider.Matricule" Name="Matricule"
                               Placeholder="@localizer["provider_matricule"]"
                               Style="width: 100%;" />
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow Class="mb-3 g-1">
            <RadzenColumn size="6">
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" Gap="5px" Style="margin-bottom: 5px;">
                    <RadzenIcon Icon="code" />
                    <RadzenLabel Text="@localizer["provider_code"]" />
                </RadzenStack>
                <RadzenTextBox @bind-Value="provider.Code" Name="Code"
                               Placeholder="@localizer["provider_code"]"
                               Style="width: 100%;" />
            </RadzenColumn>

            <RadzenColumn size="6">
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" Gap="5px" Style="margin-bottom: 5px;">
                    <RadzenIcon Icon="category" />
                    <RadzenLabel Text="@localizer["provider_code_cat"]" />
                </RadzenStack>
                <RadzenTextBox @bind-Value="provider.CodeCat" Name="CodeCat"
                               Placeholder="@localizer["provider_code_cat"]"
                               Style="width: 100%;" />
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow Class="mb-3 g-1">
            <RadzenColumn size="6">
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" Gap="5px" Style="margin-bottom: 5px;">
                    <RadzenIcon Icon="business" />
                    <RadzenLabel Text="@localizer["provider_etb_sec"]" />
                </RadzenStack>
                <RadzenTextBox @bind-Value="provider.EtbSec" Name="EtbSec"
                               Placeholder="@localizer["provider_etb_sec"]"
                               Style="width: 100%;" />
            </RadzenColumn>
        </RadzenRow>

        <RadzenRow Class="mb-3 g-1">
            <RadzenColumn size="6">
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" Gap="5px" Style="margin-bottom: 5px;">
                    <RadzenIcon Icon="email" />
                    <RadzenLabel Text="@localizer["provider_email"]" />
                </RadzenStack>
                <RadzenTextBox @bind-Value="provider.Mail" Name="Code"
                               Placeholder="@localizer["provider_email"]"
                               Style="width: 100%;" />
            </RadzenColumn>

            <RadzenColumn size="6">
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" Gap="5px" Style="margin-bottom: 5px;">
                    <RadzenIcon Icon="email" />
                    <RadzenLabel Text="@localizer["provider_second_email"]" />
                </RadzenStack>
                <RadzenTextBox @bind-Value="provider.MailDeux" Name="CodeCat"
                               Placeholder="@localizer["provider_second_email"]"
                               Style="width: 100%;" />
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow Class="mb-4 g-1">
            <RadzenColumn Size="6">
                <RadzenStack Orientation="Radzen.Orientation.Horizontal" Gap="5px" Style="margin-bottom: 5px;">
                    <RadzenIcon Icon="home" />
                    <RadzenLabel Text="@localizer["provider_adress"]" />
                </RadzenStack>
                <RadzenTextBox @bind-Value="provider.Adresse" Name="Adresse"
                               Placeholder="@localizer["provider_adress"]"
                               Style="width: 100%;" />
            </RadzenColumn>
        </RadzenRow>

        <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem">
            <RadzenLabel Text="@localizer["provider_constructor"]" />
            <RadzenToggleButton @bind-Value="provider.Constructeur"
                                TValue="bool"
                                Text="@(provider.Constructeur ? localizer["True"] : localizer["False"])"
                                Icon="@(provider.Constructeur ? "check_circle" : "cancel")"
                                ButtonStyle="@(provider.Constructeur ? ButtonStyle.Success : ButtonStyle.Danger)"
                                Style="min-width: 150px;"
                                InputAttributes="@(new Dictionary<string, object> { { "aria-label", localizer["provider_constructor"] } })" />
        </RadzenStack>

        <RadzenRow Style="margin-top: 30px;">
            <RadzenColumn Width="12" Style="text-align: right;">
                <RadzenButton ButtonType="Radzen.ButtonType.Submit"
                              Text="@localizer["save_label"]"
                              Icon="save"
                              Style="margin-right: 10px;" />
                <RadzenButton Text="@localizer["cancel_label"]"
                              Click="@Cancel"
                              ButtonStyle="ButtonStyle.Danger"
                              Icon="close" />
            </RadzenColumn>
        </RadzenRow>
    </RadzenTemplateForm>
</RadzenCard>

@code {
        [Parameter] public int? Id { get; set; }
        [Inject] protected ToastService toastService { get; set; } = default!;
        [Inject] protected DialogService dialogService { get; set; } = default!;
        private ProviderResponse provider = new ProviderResponse();
        private CancellationTokenSource cancellationTokenSource = new();
        private EventCallback<ProviderResponse> OnSubmit => EventCallback.Factory.Create<ProviderResponse>(this, HandleValidSubmit);
        private ButtonStyle ToggleButtonStyle => provider.Constructeur ? ButtonStyle.Success : ButtonStyle.Danger;


    protected override async Task OnInitializedAsync()
    {
        if (Id.HasValue)
        {
            var providerResult = await providerService.GetAsync(Id.Value, cancellationTokenSource.Token);
            if (providerResult.IsT0)
            {
                provider = providerResult.AsT0;
                return;
            }

            navigationManager.NavigateTo("/Error");
        }
    }

    private async Task HandleValidSubmit()
    {
        if (provider.Id == 0)
        {
            var createProviderResult = await providerService.CreateAsync(
                new CreateProviderRequest
                    {
                        Nom = provider.Nom,
                        Tel = provider.Tel,
                        Fax = provider.Fax,
                        Matricule = provider.Matricule,
                        Code = provider.Code,
                        CodeCat = provider.CodeCat,
                        EtbSec = provider.EtbSec,
                        Mail = provider.Mail,
                        MailDeux = provider.MailDeux,
                        Constructeur = provider.Constructeur,
                        Adresse = provider.Adresse
                    },
                    cancellationTokenSource.Token);

            if (createProviderResult.IsT0)
            {
                toastService.Notify(new(ToastType.Success, $"{localizer["provider"]} {localizer["created_with_success"]}"));
                navigationManager.NavigateTo("/providers_list");
                return;
            }

            await ShowErrorsDialog(createProviderResult.AsT1.ToErrorsList());
            return;
        }
        var updateProviderResult = await providerService.UpdateAsync(
           new UpdateProviderRequest
               {
                   Nom = provider.Nom,
                   Tel = provider.Tel,
                   Fax = provider.Fax,
                   Matricule = provider.Matricule,
                   Code = provider.Code,
                   CodeCat = provider.CodeCat,
                   EtbSec = provider.EtbSec,
                   Mail = provider.Mail,
                   MailDeux = provider.MailDeux,
                   Constructeur = provider.Constructeur,
                   Adresse = provider.Adresse
               }, provider.Id,
           cancellationTokenSource.Token);

        if (updateProviderResult.IsT0)
        {
            toastService.Notify(new(ToastType.Success, $"{localizer["provider"]} {localizer["updated_with_success"]}"));
            navigationManager.NavigateTo("/providers_list");
            return;
        }

        await ShowErrorsDialog(updateProviderResult.AsT1.ToErrorsList());
    }
    private void Cancel()
    {
        navigationManager.NavigateTo("/providers_list");
    }

    private async Task ShowErrorsDialog(List<string> errorList)
    {
        await dialogService.OpenAsync("Validation Errors", ds => @<div style="padding:10px;">
        <ul style="margin:0; padding-left: 20px;">
            @foreach (var error in errorList)
        {
            <li>@error</li>
        }
        </ul>
    </div>, new DialogOptions()
          {
              CloseDialogOnOverlayClick = true,
              Draggable = true,
              Resizable = true
          });
    }
}
