@page "/add_or_update_reciption_notes"
@page "/add_or_update_reciption_notes/{num?}"
@using TunNetCom.SilkRoadErp.Sales.Contracts.ProviderInvoice
@using TunNetCom.SilkRoadErp.Sales.WebApp.Helpers
@using static TunNetCom.SilkRoadErp.Sales.WebApp.Components.Pages.ReciptionNotes.AddOrUpdateRecipietNote


<RadzenProgressBarCircular hidden="@(!isLoading)" ProgressBarStyle="ProgressBarStyle.Primary" Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />

<!-- Delivery Note Container with Form and Summary -->
<RadzenCard Variant="Variant.Outlined">
	<RadzenStack Orientation="Radzen.Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
		<RadzenStack Orientation="Radzen.Orientation.Vertical">
			<RadzenLabel TextStyle="TextStyle.Subtitle2" Text="@Localizer["delivery_note_number"]" Component="DeliveryNoteNumber" AriaLabel="@Localizer["delivery_note_number"]" />
			<RadzenTextBox @bind-Value="receiptNoteNumber" Name="DeliveryNoteNumber" Style="width: 200px;" ReadOnly="true" AriaReadOnly="true" />
		</RadzenStack>
		<RadzenStack Orientation="Radzen.Orientation.Vertical">
			<RadzenLabel Text="@Localizer["date"]" />
			<RadzenDatePicker @bind-Value="receiptNoteDate" Name="DeliveryNoteDate" Style="width: 200px;" DateFormat="d MMMM yyyy" ShowTime="false" />
		</RadzenStack>
		<RadzenStack Orientation="Radzen.Orientation.Vertical">
			<RadzenLabel Text="@Localizer["provider"]" />
			<RadzenDropDownDataGrid AllowClear="true"
									IsLoading="@isLoadingProvider"
									@bind-Value="@selectedProviderId"
									LoadData="@LoadProviders"
									AllowFiltering="true"
									Style="width: 350px;"
									Data="@_filteredProviders"
									TextProperty="@nameof(ProviderResponse.Nom)"
									ValueProperty="@nameof(ProviderResponse.Id)"
									Placeholder="@Localizer["select_provider"]">
				<Columns>
					<RadzenDropDownDataGridColumn Property="@nameof(ProviderResponse.Id)" Title="ID" />
					<RadzenDropDownDataGridColumn Property="@nameof(ProviderResponse.Nom)" Title="@Localizer["name"]"  />
				</Columns>
			</RadzenDropDownDataGrid>
		</RadzenStack>
		<RadzenStack Orientation="Radzen.Orientation.Vertical">
			<RadzenLabel Text="@Localizer["invoice_number"]" />
			<RadzenDropDownDataGrid TValue="int?"
									AllowClear="true"
									IsLoading="@isLoadingInvoices"
									@bind-Value="@selectedInvoiceId"
									LoadData="@LoadProviderInvoices"
									AllowFiltering="true"
									Style="width: 350px;"
									Data="@_filteredInvoices"
									TextProperty="@nameof(ProviderInvoiceResponse.Num)"
									ValueProperty="@nameof(ProviderInvoiceResponse.Num)"
									Placeholder="@Localizer["select_invoice"]">
				<Columns>
					<RadzenDropDownDataGridColumn Property="@nameof(ProviderInvoiceResponse.Num)" Title="Num" />
					<RadzenDropDownDataGridColumn Property="@nameof(ProviderInvoiceResponse.Date)" Title="Date" />
					<RadzenDropDownDataGridColumn Property="@nameof(ProviderInvoiceResponse.TotTTC)" Title="@Localizer["tot_ttc"]"  />
				</Columns>
			</RadzenDropDownDataGrid>
		</RadzenStack>

	</RadzenStack>
</RadzenCard>

<RadzenDataGrid class="rz-border-radius-3" @ref="receiptLinesGrid" AllowAlternatingRows="false"
				AllowPaging="true"
				EditMode="@editMode"
				Data="@receiptLines"
				TItem="ReceiptLineWrapper"
				RowUpdate="@OnUpdateRow"
				RowCreate="@OnCreateRow"
				Page="@Reset"
				ColumnWidth="200px">
	<HeaderTemplate>
		<div class="header-actions">
			<div class="action-buttons">
				<RadzenButton ButtonStyle="ButtonStyle.Success"
							  Icon="add_circle"
							  Text="@Localizer["add_new_order"]"
							  Click="@InsertRow"
							  Disabled="@(editMode == DataGridEditMode.Single && linesToInsert.Count() > 0)"
							  class="action-button success-button"
							  AriaLabel="@Localizer["add_new_order"]" />

				<RadzenButton ButtonStyle="ButtonStyle.Primary"
							  Icon="print"
							  Text="@Localizer["print"]"
							  Variant="Variant.Flat"
							  Disabled="@(!receiptLines.Any())"
							  class="action-button"
							  AriaLabel="@Localizer["print"]" />

				<RadzenButton ButtonStyle="ButtonStyle.Primary"
							  Icon="save"
							  Text="@Localizer["save"]"
							  Variant="Variant.Flat"
							  Click="@AddOrUpdateReceiptNote"
							  Disabled="@(!receiptLines.Any())"
							  class="action-button"
							  AriaLabel="@Localizer["save"]" />

			</div>

			<RadzenCard class="summary-card" Variant="Variant.Outlined">
				<RadzenStack Orientation="Radzen.Orientation.Horizontal"
							 Gap="1.5rem"
							 JustifyContent="JustifyContent.End"
							 class="summary-stack">
					<RadzenText TextStyle="TextStyle.Body1" class="summary-text">
						@Localizer["total_net"]: <strong>@totalTtc.FormatAmount()</strong>
					</RadzenText>
					<RadzenText TextStyle="TextStyle.Body1" class="summary-text">
						@Localizer["total_gross"]: <strong>@totalHt.FormatAmount()</strong>
					</RadzenText>
					<RadzenText TextStyle="TextStyle.Body1" class="summary-text">
						@Localizer["total_vat"]: <strong>@totalVat.FormatAmount()</strong>
					</RadzenText>
				</RadzenStack>
			</RadzenCard>
		</div>
	</HeaderTemplate>
	<Columns>
		<RadzenDataGridColumn Width="600px" TItem="ReceiptLineWrapper"
							  Property="ProductReferenceAndDescription"
							  Title="@Localizer["product"]">
			<Template Context="line">
				@line.ProductReferenceAndDescription
			</Template>
			<EditTemplate Context="line">
				<RadzenDropDownDataGrid Style="width: 100%; max-width: 600px;"
										AllowClear="true"
										@bind-Value="line.ProductReference"
										LoadData="@LoadData"
										AllowFiltering="true"
										Data="@(GetCurrentProductList(line))"
										Count="@count"
										Change="@(args => OnProductSelected(line, args))"
										TextProperty="ProductReferenceAndDescription"
										ValueProperty="ProductReference"
										Name="DropDownDataGridFilteringLoadData" />
			</EditTemplate>
		</RadzenDataGridColumn>

		<RadzenDataGridColumn Width="100px" Property="ItemQuantity"
							  Title="@Localizer["quantity"]">
			<EditTemplate Context="line">
				<RadzenNumeric TValue="int"
							   Value="line.ItemQuantity"
							   Change="@(args => OnValueChanged(line, args, nameof(line.ItemQuantity)))"
							   Style="width:100%;"
							   Name="Quantity" />
				<RadzenRequiredValidator Text="@Localizer["quantity_required"]" Component="Quantity" Popup="true" />
			</EditTemplate>
		</RadzenDataGridColumn>

		<RadzenDataGridColumn Width="150px" Property="UnitPriceExcludingTax" Title="@Localizer["unit_price_ht"]">
			<Template Context="line">
				<RadzenStack Orientation="Radzen.Orientation.Horizontal">
					<RadzenStack>
						<RadzenButton ButtonStyle="ButtonStyle.Info" Icon="history" Variant="Variant.Flat"
									  Shade="Shade.Lighter" Size="ButtonSize.Small" class="rz-my-1 rz-ms-1"
									  Click="@(args => ShowDialog(line.ProductReference))" aria-label="Delete">
						</RadzenButton>
					</RadzenStack>
					<RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">@line.UnitPriceExcludingTax.FormatAmount()</RadzenStack>

				</RadzenStack>
			</Template>
		</RadzenDataGridColumn>


		<RadzenDataGridColumn Width="100px" Property="Discount"
							  Title="@Localizer["discount_percentage"]">
			<Template Context="line">
				@line.Discount
			</Template>
		</RadzenDataGridColumn>

		<RadzenDataGridColumn Property="TotalExcludingTax" Title="@Localizer["total_ex_tax"]">
			<Template Context="line">
				@line.TotalExcludingTax.FormatAmount()
			</Template>
		</RadzenDataGridColumn>

		<RadzenDataGridColumn Width="100px" Property="VatRate" Title="@Localizer["vat_percentage"]">
			<Template Context="line">
				@line.VatRate
			</Template>
		</RadzenDataGridColumn>

		<RadzenDataGridColumn Property="TotalIncludingTax" Title="@Localizer["total_incl_tax"]">
			<Template Context="line">
				@line.TotalIncludingTax.FormatAmount()
			</Template>
		</RadzenDataGridColumn>

		<RadzenDataGridColumn Context="line" Filterable="false" Sortable="false" TextAlign="TextAlign.Center"
							  Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
			<Template Context="line">
				<RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat"
							  Size="ButtonSize.Small" Click="@(args => EditRow(line))" @onclick:stopPropagation="true">
				</RadzenButton>
				<RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat"
							  Shade="Shade.Lighter" Size="ButtonSize.Small" class="rz-my-1 rz-ms-1"
							  Click="@(args => DeleteRow(line))" @onclick:stopPropagation="true">
				</RadzenButton>
			</Template>
			<EditTemplate Context="line">
				<RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat"
							  Size="ButtonSize.Small" Click="@((args) => SaveRow(line))" aria-label="Save">
				</RadzenButton>
				<RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat"
							  Size="ButtonSize.Small" class="rz-my-1 rz-ms-1"
							  Click="@((args) => CancelEdit(line))" aria-label="Cancel">
				</RadzenButton>
				<RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat"
							  Shade="Shade.Lighter" Size="ButtonSize.Small" class="rz-my-1 rz-ms-1"
							  Click="@(args => DeleteRow(line))" aria-label="Delete">
				</RadzenButton>
			</EditTemplate>
		</RadzenDataGridColumn>
	</Columns>
</RadzenDataGrid>
