@page "/customers_list"
@using Microsoft.Extensions.Localization
@using TunNetCom.SilkRoadErp.Sales.Contracts.Customers
@using TunNetCom.SilkRoadErp.Sales.HttpClients.Services.Customers
@using TunNetCom.SilkRoadErp.Sales.WebApp.Locales
@using BlazorBootstrap
@using TunNetCom.DeleteModal
@inject ICustomersApiClient customerService
@inject NavigationManager navigationManager
@inject IStringLocalizer<SharedResource> Localizer

<div class="container mt-4">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <h3 class="mb-3">@Localizer["customers"]</h3>
             </div>
             <div class="col-md-6 d-flex justify-content-end align-items-center">
                 <button class="btn btn-primary mb-3" @onclick="CreateCustomer">@Localizer["add_customer"]</button>
            </div>
         </div>
    </div>
    <input class="form-control mb-3" placeholder="@Localizer["Search"]" @bind="searchKeyword" @oninput="SearchClients" />


    <Grid TItem="CustomerResponse"
          Class="table table-hover table-bordered table-striped"
          DataProvider="CustomersDataProvider"
          AllowPaging="true"
          AllowSorting="true"
          Responsive="true"
          @ref="grid">

        <GridColumn TItem="CustomerResponse" HeaderText="@Localizer["customer_name"]" PropertyName="CustomerName" SortString="CustomerName" SortKeySelector="item => item.Nom" FilterTextboxWidth="80">
            @context.Nom
        </GridColumn>
        <GridColumn TItem="CustomerResponse" HeaderText="@Localizer["customer_phone"]" PropertyName="Phone" SortString="Phone" SortKeySelector="item => item.Tel" FilterTextboxWidth="100">
            @context.Tel
        </GridColumn>
        <GridColumn TItem="CustomerResponse" HeaderText="@Localizer["customer_email"]" PropertyName="Email" SortString="Email" SortKeySelector="item => item.Mail" FilterTextboxWidth="120">
            @context.Mail
        </GridColumn>
        <GridColumn TItem="CustomerResponse" HeaderText="@Localizer["actions_label"]">
            <Button Color="ButtonColor.Primary" @onclick="((args) => OnClickEditButton(args, context.Id.ToString()))">
                @Localizer["edit_button_label"]
            </Button>
            <Button Color="ButtonColor.Danger" @onclick="((args) => OnClickDeleteButton(args, context.Id.ToString()))">
                @Localizer["delete_button_label"]
            </Button>
        </GridColumn>
    </Grid>
</div>

<Modal @ref="yesOrNoDeleteModal" />

@code {
    [Inject] protected ToastService toastService { get; set; } = default!;
    private string searchKeyword = string.Empty;
    int currentCustomerIdToDelete = 0;
    private CancellationTokenSource cancellationTokenSource = new();
    private Modal yesOrNoDeleteModal = default!;
    Grid<CustomerResponse> grid = default!;


    private async Task ProcessDelete(MouseEventArgs e)
    {
        await customerService.DeleteAsync(currentCustomerIdToDelete, cancellationTokenSource.Token);
        toastService.Notify(new(ToastType.Warning, $"{Localizer["customer"]} {Localizer["deleted_with_success"]}"));
        await yesOrNoDeleteModal.HideAsync();
    }

    protected void OnClickEditButton(EventArgs args, string id)
    {
        EditCustomer(int.Parse(id));
    }

    private async Task SearchClients(ChangeEventArgs e)
    {
        searchKeyword = e?.Value?.ToString() ?? string.Empty;

        await grid.RefreshDataAsync();
    }

    protected async Task OnClickDeleteButton(EventArgs args, string id)
    {
        currentCustomerIdToDelete = int.Parse(id);
        var parameters = new Dictionary<string, object>();
        parameters.Add("OnclickCallback", EventCallback.Factory.Create<MouseEventArgs>(this, ProcessDelete));
        await yesOrNoDeleteModal.ShowAsync<DeleteModal>(title: Localizer["delete_modal_title"], parameters: parameters);
    }

    private async Task<GridDataProviderResult<CustomerResponse>> CustomersDataProvider(
        GridDataProviderRequest<CustomerResponse> request)
    {
        string sortString = string.Empty;
        SortDirection sortDirection = SortDirection.None;

        if (request.Sorting is not null && request.Sorting.Any())
        {
            sortString = request.Sorting.FirstOrDefault()!.SortString;
            sortDirection = request.Sorting.FirstOrDefault()!.SortDirection;
        }
        var customersParameters = new QueryStringParameters
            {
                PageNumber = request.PageNumber,
                PageSize = request.PageSize,
                SearchKeyword = searchKeyword
            };

        var result = await customerService.GetAsync(customersParameters, cancellationTokenSource.Token);
        return await Task.FromResult(new GridDataProviderResult<CustomerResponse> { Data = result, TotalCount = result.TotalCount });
    }

    public void Dispose()
    {
        cancellationTokenSource.Cancel();
        cancellationTokenSource.Dispose();
    }

    private void CreateCustomer()
    {
        navigationManager.NavigateTo("/editcustomer");
    }

    private void EditCustomer(int id)
    {
        navigationManager.NavigateTo($"/editcustomer/{id}");
    }
}
